*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
   
}

:root {
    --main-color: rgb(41, 40, 29);
    --ather-color: rgb(230 194 46);
    --whit-color: #eee;
    --black-color : #333;
    --pane-padding: 10px ;
  }

  body{
    font-family: 'Cairo', sans-serif;
    text-align: end;
  }
/* nav bar  */
.home .navbar{
    background-color: var(--main-color);
    position: fixed !important;
    width: 100%;
    top: 0;
}
.home .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .navbar .container  ul{
  display: flex;
  justify-content: center;
  align-items: center;

}
.home .navbar .container  ul li a{
    padding: var(--pane-padding);
   color: var(--whit-color);
   font-weight: 700;
   transition: 0.5s;  
  }
  .home .navbar .container  ul li a:hover{
color: var(--ather-color);
background-color: var(--whit-color);
border-radius:  0 0  0 30px;

    
  }
  .home .navbar .container .image-logo {
width: 200px;
    
  }
  .home .navbar .container .image-logo img{
    width: 200px;
        
      }
 
/* nav bar  */

/* home  */
.home .home-page{
    background-color: var(--main-color);
    min-height: 100vh ;
}

.home .home-page .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px;
}
.home .home-page .container img{
 width: 500px;
 transition: 1s;
}
.home .home-page .container .contact{
    color: var(--whit-color);
    margin-top: 100px;
   }
   .home .home-page .container .contact h2{
    color: var(--ather-color);

      }
      .home .home-page .container .contact p{
        line-height: 2;
        color: #ccc;
    
          }

/* home  */
/* start box product  */
/* end box product  */
.boxes-product .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 100px;
}

/* container whit  */
.container{
    width: 600px;
    margin-right: 15px;
    margin-left: 15px;
     margin: auto;
}
/* samll  */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
   
}
/* medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
   
  
}
/* large  */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* max media  */
@media (max-width: 768px) {
  

}
/* medium */
@media (max-width: 992px) {

 

}
/* large  */
@media (max-width: 1200px) {

}